<div class="container float-container">
    <div id="title">PDX.pizza</div>
    <ul class="nav float-container">
        <li>{{#link-to 'index'}}Map{{/link-to}}</li>
        <li>{{#link-to 'places'}}Places{{/link-to}}</li>
        <li><a>&bull;</a></li>
        <li>{{#link-to 'about'}}About{{/link-to}}</li>
        <li>{{#link-to 'submit' class="button nav"}}Submit{{/link-to}}</li>
    </ul>
</div>