<div class="container float-container">
    <div id="title">PDX Pizza</div>
    <ul class="nav float-container">
        <li><a href="#">Map</a></li>
        <li><a href="#">List</a></li>
        <li><a href="#">Grid</a></li>
        <li><a>&bull;</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#" class="button nav">Submit</a></li>
    </ul>
</div>